* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

button {
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  cursor: pointer;
  vertical-align: top; }

input {
  border: none;
  font-size: 17px; }

select {
  padding-left: 1rem; }

.wrap {
  position: relative;
  height: 100vh; }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px; }

.control-box {
  display: flex;
  justify-content: center; }
  .control-box > * {
    margin: 1rem;
    border: 2px solid lightgray; }

.font-weight-change {
  width: 150px; }

.font-size-change {
  display: flex;
  justify-content: center;
  align-items: center; }
  .font-size-change .font-size {
    order: 2;
    width: 3rem;
    text-align: center; }
  .font-size-change div:first-child {
    order: 1; }
  .font-size-change div:last-child {
    order: 3; }

.decrease-btn {
  background-image: url("../images/minus_icon.svg");
  background-repeat: no-repeat;
  background-position: center center; }

.increase-btn {
  background-image: url("../images/plus_icon.svg");
  background-repeat: no-repeat;
  background-position: center center; }

.bg-change {
  border: none; }
  .bg-change button {
    border: 2px solid lightgray;
    transition: all 0.3s; }
    .bg-change button:hover {
      border: 10px solid lightgray; }

.preview-text {
  padding: 1.5rem;
  width: 100%;
  height: 200px;
  resize: none;
  background: transparent;
  border: 4px dashed lightgray; }
